<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p>Desenvolvido por</p>
        <a href="https://cidadaniainteligente.org" target="_blank"><img src="/images/fci-br.png" alt="Fundación Cidadania Inteligente" class="img-responsive"></a>
      </div>
      <div class="col-xs-12 col-md-8">
        <ul class="list-inline text-right">
          <li><a href="mailto:contacto@cidadaniainteligente.org?subject=Hola"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://www.facebook.com/cidadaniainteligente/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.github.com/ciudadanointeligente/" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
