<section id="guia">
  <div class="container">
    <h2>Guia de leitura</h2>
    <br>
    <img src="/images/guiat.svg" alt="Linha" class="img-responsive">
    <br>
    <p class="text-align: justify"><i>* Alguns valores foram alterados para facilitar a visualização e interpretação dos dados. Para acessar as informações e fontes detalhadas dos infográficos, clique <a href="https://docs.google.com/spreadsheets/d/1wkvwefI8hKYOXyWrX4MewC6mxZQAxsLRNSFe81OImWw/edit?usp=sharing" target="_blank">aqui</a>. O Guia de Leitura também está disponível em PDF para download, <a href="https://drive.google.com/file/d/0B8V_w2Ijq0Y2eU56czhEb3pjbGc/view?usp=sharing" target="_blank">aqui</a></i></p>
    <br>
  </div>
</section>
