<section id="linha">
  <div class="container">
    <p class="text-align: justify">Essa Trama se desenrola em uma linha do tempo que você pode conferir abaixo, com os principais eventos relacionadas às grandes empresas nacionais envolvidas na operação Lava Jato. Tem como ponto de partida o ano de 2009, com o início de uma investigação sobre uma rede de doleiros ligada a Alberto Youssef, até os últimos meses, com  a homologação de várias delações e acordos de leniência. 
É possível conferir as fontes das informações utilizadas <a href="https://docs.google.com/spreadsheets/d/1wkvwefI8hKYOXyWrX4MewC6mxZQAxsLRNSFe81OImWw/edit?usp=sharing" target="_blank">aqui</a>.</p>
    <img src="/images/linha.svg" alt="Linha" class="img-responsive">
  </div>
</section>
