<section id="rede">
  <div class="container">
    <br>
    <br>
    <h2>A Rede Latino Americana pela Transparência Legislativa</h2>
    <br>
    <div align: "center"> A Rede Latino-americana pela Transparência Legislativa é composta por 24 organizações em 15 países da América Latina e tem o objetivo de ser uma plataforma para o intercâmbio de experiências e para o trabalho colaborativo na promoção de políticas de transparência, participação cidadã e prestação de contas em matérias legislativas. Dentre as principais iniciativas já realizadas pela Rede está a elaboração e publicação do Índice Latino-americano de Transparência Legislativa, que oferece um diagnóstico comparativo do estado das políticas de transparência e participação desenvolvidas em diferentes Congressos da região. </div>
    <br>
    
</section>
