<section id="sobre-nos">
  <div class="container">
    <h2>Sobre nós</h2>
    <br>
    <p class="justify">Fundada em 2009 no Chile, a missão da Fundação Cidadania Inteligente é fortalecer a democracia e reduzir a desigualdade social na América Latina, promovendo a transparência e participação cidadã através do uso inovador de tecnologias de informação.</p>
    <br>
    <p class="justify">Trabalhamos com a visão de transferir poder de desde os poucos para todas as pessoas, toda vez que o poder político e econômico se concentre de forma de maneira artificial. Para isso, usamos a transparência, as tecnologias da informação e a participação coletiva como ferramentas de mudança. Já realizamos projetos na Bolivia, Colombia, Equador, Peru e Nicarágua, e agora chegamos ao Brasil, abrindo nosso primeiro escritório fora do Chile.</p>
    <br>
    <p class="justify">Somos uma organização laica, defensora da diversidade política, cultural, social, étnica, racial, religiosa, de gênero e sexual. Buscamos alcançar uma sociedade justa e inclusiva, na qual todas as cidadãs e cidadãos tenham os mesmos direitos e oportunidades.</p>
  </div>
</section>
