<section id="teia">
  <div class="container">
    <h2 class="section-title">A consulta</h2>
    <br>
    <p class="text-align: justify"> Em um contexto de grave crise de legitimidade do legislativo na região - em 2015, o <a href="http://www.latinobarometro.org/"> Latinobarómetro </a> indicou que 70% dos habitantes não se sentem representados pelos Congressos de seus países -, a RLTL propôs-se a reformular sua atuação para posicionar-se como ator fundamental na identificação e promoção de iniciativas inovadoras de transparência, participação cidadã e prestação de contas. A Rede quer contribuir de maneira eficiente para reverter os baixos níveis de legitimidade e representatividade de nossos congressos e irá definir ações e iniciativas para tal por meio de um processo participativo nos 15 países integrantes. Este processo, que conta com quatro etapas de consultas e debates, vai investigar a lacuna que hoje afasta os congressos dos cidadãos e cidadãs na América Latina para propor soluções conjuntas e abrangentes. </p>
  </div>
</section>
