<section id="trama">
  <div class="container">
    <h2>A trama</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa mollitia, adipisci veritatis quam soluta explicabo reprehenderit accusantium suscipit quo minus sunt maiores repudiandae hic iusto, dolorum obcaecati, velit sequi amet.</p>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa mollitia, adipisci veritatis quam soluta explicabo reprehenderit accusantium suscipit quo minus sunt maiores repudiandae hic iusto, dolorum obcaecati, velit sequi amet.</p>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa mollitia, adipisci veritatis quam soluta explicabo reprehenderit accusantium suscipit quo minus sunt maiores repudiandae hic iusto, dolorum obcaecati, velit sequi amet.</p>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa mollitia, adipisci veritatis quam soluta explicabo reprehenderit accusantium suscipit quo minus sunt maiores repudiandae hic iusto, dolorum obcaecati, velit sequi amet.</p>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa mollitia, adipisci veritatis quam soluta explicabo reprehenderit accusantium suscipit quo minus sunt maiores repudiandae hic iusto, dolorum obcaecati, velit sequi amet.</p>
  </div>
</section>