/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background: url('/images/fundorede.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top,$background-color 0,$background-color 100%);
    background-image: -o-linear-gradient(top,#000000 0,#000000 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from($background-color),to($background-color));
    background-image: linear-gradient(to bottom,$background-color 0,$background-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F4F4', endColorstr='##F8F4F4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 0px;
}

#home {
  padding-top: 150px;
  padding-bottom: 100px;
}

#teia {
  padding-top: 100px;
  padding-bottom: 100px;
}

#trama {
  padding-top: 100px;
  padding-bottom: 100px;
}

#sobre-nos {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title::after {
  content: " ";
  background-color: green;
}

footer {
  background-color: $background-color;
  padding: 20px 0;
  a {
    color: $text-color;
  }
}
